---
layout: page
---
<section id="poster">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>List of Speakers</h2>
        <hr class="star-primary">
        <br>
      </div>
    </div>
  </div>
</section>
<br>
<section class="success" id="keynote talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Keynote Talks <i class="fa-solid fa-key" style="font-size:24px;color:#ffffff;"></i> </h3>
        <hr class="star-light">
        <br>
      </div>
    </div>
    <br>
    {% for kt in site.categories.keynote %}
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <a href="https://ccsc2026.github.io/talks/{{ kt.talklink }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
            <b>{{ kt.title }}</b>, {{ kt.affiliation }} </a>
          </div>
          <div class="col-lg-4">
            <a href="https://ccsc2026.github.io/talks/{{ kt.talklink }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
            <i>{{ kt.talktitle }}</i> </a>
          </div>
      </div>
      <br><br>
    {% endfor %}
  </div>
</section>
<br>
<section id="invited talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Invited Tutorial Talks <i class="fa-solid fa-chalkboard-user" style="font-size:24px;color:#5d308a;"></i> </h3>
        <hr class="star-primary">
        <br>
      </div>
      <br>
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <p>
          Tutorial talks in the scope of the CECAM Workshop 1404 
          <a href="https://www.cecam.org/workshop-details/diversification-strategies-for-chemical-space-simulation-and-modelling-1404" 
                                     target="_blank">Diversification Strategies for Chemical Space: Simulation and Modelling</a>
          will be held by:        
        </p>
      </div>
      <br>
      {% for it in site.categories.cecam %}
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <a href="https://ccsc2026.github.io/talks/{{ it.talklink }}" target="_blank" style="font-size:20px;color:#5d308a;">
              <b>{{ it.title }}</b>, {{ it.affiliation }}</a>
          </div>
          <div class="col-lg-4">
            <a href="https://ccsc2026.github.io/talks/{{ it.talklink }}" target="_blank" style="font-size:20px;color:#5d308a;">
            <i>{{ it.talktitle }}</i> </a>
          </div>
          <br><br>
      </div>
      <br><br>
    {% endfor %}
    </div>  
  </div>
</section>
<br>
<section class="success" id="contributed talks">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Contributed Talks <i class="fa-solid fa-bolt" style="font-size:24px;color:##5d308a;"></i> </h3>
        <hr class="star-light">
        <br>
      </div>
      <br>
      {% for ct in site.categories.contrib %}
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
            <a href="https://ccsc2026.github.io/{{ ct.link }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
              <b>{{ ct.speaker }}</b>, {{ ct.location }}</a>
          </div>
          <div class="col-lg-4">
            <a href="https://ccsc2026.github.io/{{ ct.link }}" target="_blank" style="font-size:20px;color:#FFFFFF;">
            {% if ct.title %}
              <i>{{ ct.title }}</i> </a>
            {% else %}
              <i>{{ tba }}</i> </a>
            {% endif %}
          </div>
        </div>
        <br><br>
      {% endfor %}
    </div>  
  </div>
</section>
<br>
<section id="contributed talks">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
          <h3>Talk Information <i class="fa-solid fa-bolt" style="font-size:24px;color:##5d308a;"></i> </h3>
          <hr class="star-primary">
          <br>
        </div>
        <br>
        <div class="col-lg-12 text-center">
          <p>Please prepare your presentation according to the format below.</p>
          <div class="col-lg-4 text-center">
              <h4> 
                <i class="fa-solid fa-key"> </i> Keynote Talks
              </h4>
            <br>
            <p>35 min presentation + 10 min Q&amp;A </p>
          </div>
          <div class="col-lg-4 text-center">
              <h4> 
                <i class="fa-solid fa-chalkboard-user"> </i> Invited Tutorial Talks
              </h4>
            <br>
            <p> Tutorial talks in the scope of the CECAM Workshop 1404 
          <a href="https://www.cecam.org/workshop-details/diversification-strategies-for-chemical-space-simulation-and-modelling-1404" 
                                     target="_blank">Diversification Strategies for Chemical Space: Simulation and Modelling</a>
          should be planned for 25 min presentation + 5 min Q&amp;A, followed by a hands-on session (e.g. live coding) </p>
          </div>
          <div class="col-lg-4 text-center">
              <h4> 
                <i class="fa-solid fa-bolt"> </i> Contributed Talks
              </h4>
            <br>
            <p> 20 min presentation + 10 min Q&amp;A </p>
          </div>       
          <p>Stay within your time slot to keep the schedule on track.</p>
      </div>  
    </div>
  </div>
</section>
