<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-primary">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Expansive and richly varied data sets encompassing both equilibrium and reactive structures are increasingly laying the groundwork for 
          the advancement and calibration of Quantum Machine Learning (QML). These QML models harness a physics-informed understanding of Chemical 
          Compound Space (CCS), defined by a multitude of structural and compositional variables. 
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          The CCS Conference 2026 (CCSC 2026) in Munich aspires to cultivate and fortify a global scholarly network by convening experts, mid-career 
          professionals, and emerging scientists. The forum aims to facilitate the exchange of groundbreaking findings, ignite intellectually enriching 
          dialogues, and crystalize avenues for future research endeavors.
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>
          Note that the <b>CCSC 2026</b> partially overlaps with the CECAM workshop <a href="https://www.cecam.org/workshop-details/diversification-strategies-for-chemical-space-simulation-and-modelling-1404">Diversification Strategies for Chemical Space: Simulation and Modelling</a>. 
          Participants of the CECAM workshop are welcome to attend all non-overlapping sessions of CCSC 2026 at no additional cost.
        </p>
      </div>
    </div>
  </div>
</section>
