<!-- List of Posters Section -->
<section class='success' id="posters">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Posters</h3>
        <hr class="star-light">
        <br>
      </div>
    </div>
    <div class='row'>
      <!-- iterate over all files and list them in a table for all posters -->
      {% for p in site.poster %}
        <div class="col-lg-2 col-lg-offset-2">
          <p>{{ p.posternumber }}</p>
        </div>
        <div class="col-lg-6">
          <p><a href="{{ p.url }}" target="_blank" style="font-size:20px;color:#ffffff;">
                <b>{{ p.speaker }}</b>, {{ p.location }}</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
