<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sponsors</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>We acknowledge financial support of the conference by:
        </p>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col-lg-4 lg-offset-2">
        <!-- BAdW Logo -->
        <a href="https://badw.de/die-akademie.html">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/logo-badw.svg" alt="BAdW" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.vci.de/fonds/startseite.jsp">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/Fonds_der_Chemischen_Industrie_Logo.svg.png" alt="fci" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.faccts.de/">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/FACCTs.png" alt="faccts" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 lg-offset-2">
        <!-- BAdW Logo -->
        <a href="https://www.wiley-vch.de/de/">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/Wiley-Led-VCH-Logo-horiz.png" alt="wiley" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://onlinelibrary.wiley.com/journal/15213773">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/AngewandteChemie_logo.png" alt="angew chemie" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://chemistry-europe.onlinelibrary.wiley.com/journal/27514765">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/CPHC_plus_CE_logo_FINAL_HIGH.png" alt="chemistry europe" />
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 lg-offset-2">
        <!-- BAdW Logo -->
        <a href="https://www.rsc.org/publishing/journals/digital-discovery">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/DD_logo.png" alt="Digital Discovery" />
        </a>
      </div>
      <div class="col-lg-4">
        <a href="https://www.rsc.org/publishing/journals/pccp">
          <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/sponsors/PCCP%20Journal-Promo-82x25-graphite_2400dpi.jpg" alt="pccp" />
        </a>
      </div>
    </div>
</section>

<!--<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Local Scientific Environment</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-inline">
          <li><a href="https://www.fau.de/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/FAU_logo_black.png" height='130' alt="FAU" /></a></li>
          <li><a href="https://www.chemistry.nat.fau.eu/ccc/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/CCC_logo.png" height='130' alt="CCC" /></a></li>
          <li><a href="https://www.mgms-ds.de/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/mgms_logo.png" height='130' alt="MGMS" /></a></li>
        </ul>
        <br><br>
        <ul class="list-inline">
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
        </ul>
      </div>
    </div>
  </div>
</section>-->
