<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sponsors</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>We acknowledge financial support of the conference by tba.
        </p>
      </div>
    </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Local Scientific Environment</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <ul class="list-inline">
          <li><a href="https://www.fau.de/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/FAU_logo.png" height='130' alt="FAU" /></a></li>
          <li><a href="https://www.chemistry.nat.fau.eu/ccc/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/ccc_logo.png" height='130' alt="CCC" /></a></li>
          <li><a href="https://www.mgms-ds.de/"><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/MGMS_logo.png" height='130' alt="MGMS" /></a></li>
        </ul>
        <!-- <br><br>
        <ul class="list-inline">
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
          <li><img style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2024/ccsc2024.github.io/main/img/logo_placeholder_big.png" height='100' alt="Logo" /></li>
        </ul> -->
      </div>
    </div>
  </div>
</section>
