<!DOCTYPE html>
<html>
{% include head.html %}
  
<body id="page-top" class="index">
  {% include nav.html %} 
  {% include schedule_style.html %}

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 text-center">
		    <img class="img-responsive" style="vertical-align: top;" src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/awards_logos.png" alt="Award Sponsors"></img>
	  </div>
  </div>
	<br><br>
  
  {% include footer.html %}
  {% include js.html %}
</body>
  
</html>
