<!DOCTYPE html>
<html>

{% assign extrastyles='/talkpage.css' %}
{% include head.html %}

<body id="page-top" class="index">
  
  {% include nav.html %}
  <section id="poster">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br><br>
          <h3>Talk #{{ page.talknumber }}</h3>
          <h4> {{ page.talktime }} </h4>
          <br>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <!-- abstract -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>{{ page.titleone }}</h4>
            <p class="authors">
              {{ page.authorsone | replace: "[", "<sup>" | replace: "]", "</sup>" }}
            </p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {%- for paragraph in page.abstractone %}
            <p>{{ paragraph }}</p>
          {%- endfor %}
        </div>
      </div>
      {%- if page.referencesone %}
      <br>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ol style="font-size:16px;">
            {%- for ref in page.references %}
                <li> {{ ref[0] }}
                  {%- if ref[1] %}, <i>{{ ref[1] }}</i> {%- endif %}
                  {%- if ref[2] %} <b>{{ ref[2] }}</b>{%- endif %}
                  {%- if ref[3] %}, <i>{{ ref[3] }}</i>{%- endif %}
                  {%- if ref[4] %}, {{ ref[4] }} {%- endif %}.
                </li>
            {%- endfor %}
            </ol>
        </div>
      </div>
      {%- endif %}
      <br><br>
      <div class="row">
        <div class="col-lg-12 text-center">
          <hr class="star-primary">
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <img src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/speaker/{{ page.imgone }}" class="img-responsive" alt="{{ page.speakerone }}">
        </div>
        <div class="col-lg-5">
          <p>
            <i class="fa-solid fa-user" style="font-size:20px;color:#3f0a74;"></i>&nbsp{{ page.speakerone }}
          </p>
          <br>
          <ul class='list-inline', style="font-size:20px;">
            {% for loc in page.locationone %}
              <li><i class="fa-solid fa-location-dot" style="font-size:20px;color:#3f0a74;"></i>&nbsp {{ loc }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- abstract -->
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h4>{{ page.titletwo }}</h4>
            <p class="authors">
              {{ page.authorstwo | replace: "[", "<sup>" | replace: "]", "</sup>" }}
            </p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {%- for paragraph in page.abstracttwo %}
            <p>{{ paragraph }}</p>
          {%- endfor %}
        </div>
      </div>
      {%- if page.referencestwo %}
      <br>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <ol style="font-size:16px;">
            {%- for ref in page.referencestwo %}
                <li> {{ ref[0] }}
                  {%- if ref[1] %}, <i>{{ ref[1] }}</i> {%- endif %}
                  {%- if ref[2] %} <b>{{ ref[2] }}</b>{%- endif %}
                  {%- if ref[3] %}, <i>{{ ref[3] }}</i>{%- endif %}
                  {%- if ref[4] %}, {{ ref[4] }} {%- endif %}.
                </li>
            {%- endfor %}
            </ol>
        </div>
      </div>
      {%- endif %}
      <br><br>
      <div class="row">
        <div class="col-lg-12 text-center">
          <hr class="star-primary">
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-lg-3 col-lg-offset-2">
          <img src="https://raw.githubusercontent.com/ccsc2026/ccsc2026.github.io/main/img/speaker/{{ page.imgtwo }}" class="img-responsive" alt="{{ page.speakertwo }}">
        </div>
        <div class="col-lg-5">
          <p>
            <i class="fa-solid fa-user" style="font-size:20px;color:#3f0a74;"></i>&nbsp{{ page.speakertwo }}
          </p>
          <br>
          <ul class='list-inline', style="font-size:20px;">
            {% for loc in page.locationtwo %}
              <li><i class="fa-solid fa-location-dot" style="font-size:20px;color:#3f0a74;"></i>&nbsp {{ loc }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
  </section>
  
  {% include footer.html %}
  {% include js.html %}
</body>
  
</html>
